In [4]:
#import require libraries...
import pandas as pd

In [7]:
#Load dataset
df=pd.read_csv("C:\\Users\Pratik\Downloads\Churn_Modelling.csv")

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
#removing columns which are not required 

df=df.drop(columns=['RowNumber','CustomerId','Surname'])

In [10]:
#convert categorical data into numrical data for example column Geography and Gender will be converted into number format

df['Gender']=df['Gender'].map({'Male':0, 'Female':1})

In [11]:
df['Geography']=df['Geography'].map({'Spain':1, 'France':2, 'Germany': 3})

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,2,1,42,2,0.00,1,1,1,101348.88,1
1,608,1,1,41,1,83807.86,1,0,1,112542.58,0
2,502,2,1,42,8,159660.80,3,1,0,113931.57,1
3,699,2,1,39,1,0.00,2,0,0,93826.63,0
4,850,1,1,43,2,125510.82,1,1,1,79084.10,0

In [13]:
#spliting the Training testing data...!
from sklearn.model_selection import train_test_split

In [14]:
x=df.drop(columns=['Exited'])

In [18]:
y=df['Exited']

In [19]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)

In [21]:
#normalization

from sklearn.preprocessing import StandardScaler

In [22]:
sc=StandardScaler()

In [24]:
xtrain = sc.fit_transform(xtrain)
xtest = sc.fit_transform(xtest)

In [34]:
#Import model and fit data into tensor flow (training the neural network using tensor flow library )

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Initialize the model
model = Sequential()

# Add layers to the model
model.add(Dense(units=128, activation='relu', input_shape=(xtrain.shape[1],)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#train model
model.fit(xtrain, ytrain, epochs=10, batch_size=32, validation_data=(xtest, ytest))

Epoch 1/10
250/250 [==============================] - 1s 2ms/step - loss: 0.4375 - accuracy: 0.8116 - val_loss: 0.3925 - val_accuracy: 0.8405
Epoch 2/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3669 - accuracy: 0.8511 - val_loss: 0.3500 - val_accuracy: 0.8595
Epoch 3/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3474 - accuracy: 0.8596 - val_loss: 0.3446 - val_accuracy: 0.8615
Epoch 4/10
250/250 [==============================] - 0s 987us/step - loss: 0.3403 - accuracy: 0.8591 - val_loss: 0.3445 - val_accuracy: 0.8655
Epoch 5/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8614 - val_loss: 0.3425 - val_accuracy: 0.8540
Epoch 6/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8622 - val_loss: 0.3382 - val_accuracy: 0.8650
Epoch 7/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8635 - val_loss: 0.3406 - val_accuracy: 0.8600
Epoch 8/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3243 - accuracy: 0.8656 - val_loss: 0.3374 - val_accuracy: 0.8635
Epoch 9/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3215 - accuracy: 0.8661 - val_loss: 0.3353 - val_accuracy: 0.8595
Epoch 10/10
250/250 [==============================] - 0s 1ms/step - loss: 0.3186 - accuracy: 0.8658 - val_loss: 0.3428 - val_accuracy: 0.8655

In [37]:
#Prediction using model

ypred= (model.predict(xtest)>0.5).astype('int32')

63/63 [==============================] - 0s 632us/step

In [38]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [42]:
#calculate accuracy
accuracy = accuracy_score(ytest,ypred)
print("accuracy=",accuracy)

accuracy= 0.8655

In [43]:
#confusion Matrix
matrix = confusion_matrix(ytest,ypred)
print(matrix)

[[1561   39]
 [ 230  170]]

In [ ]:
#So in this way we have calculated accuracy 86%